In [1]:
#Import the dependencies.
import pandas as pd
import gmaps
import requests
import os
#Import the API key.
from config import g_key

In [2]:
#File to Load 
city_data_to_load = os.path.join("weather_data", "cities.csv")

#Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv(city_data_to_load)
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bredasdorp,ZA,2021-05-18 00:53:38,-34.5322,20.0403,46.40,93,100,3.44
1,1,Miraflores,MX,2021-05-18 00:53:58,19.2167,-98.8083,66.20,55,75,11.50
2,2,Vostok,RU,2021-05-18 00:53:58,46.4856,135.8833,70.32,26,0,9.10
3,3,Narsaq,GL,2021-05-18 00:53:58,60.9167,-46.0500,39.20,65,15,16.11
4,4,Bilibino,RU,2021-05-18 00:53:59,68.0546,166.4372,34.05,81,26,3.04

In [3]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
#General Syntax for Heatmap of temperature
#1. Assign the locations to an array of latitude and longitude pairs.
#locations = [latitude, longitude]

#2. Assign the weights variable to some values.
#temperatures = # an array of length equal to the locations array length

#3. Assign the figure variable to the gmaps.figure() attribute.
#fig = gmaps.figure()

#4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
#heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

#5. Add the heatmap layer.
#fig.add_layer(heatmap_layer)

#6. Call the figure to plot the data.
#fig

In [6]:
#Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
#Heatmap of temperature
#1. Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

#2. Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

#3. Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#4. Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

#5. Add the heatmap layer.
fig.add_layer(heat_layer)

#6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
#Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
#Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
#Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
#Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
#Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Palauig,PH,2021-05-18 00:53:59,15.4350,119.9045,88.83,55,99,2.86
8,8,Nicoya,CR,2021-05-18 00:54:00,10.1483,-85.4520,82.40,69,75,5.75
12,12,Hambantota,LK,2021-05-18 00:54:02,6.1241,81.1185,75.20,100,20,10.60
14,14,Kapaa,US,2021-05-18 00:53:39,22.0752,-159.3190,80.60,61,20,16.11
15,15,Vaini,TO,2021-05-18 00:54:03,-21.2000,-175.2000,82.40,78,20,9.22
17,17,Hilo,US,2021-05-18 00:52:26,19.7297,-155.0900,84.20,48,1,9.22
25,25,Nago,JP,2021-05-18 00:54:06,26.5881,127.9761,86.00,74,40,8.05
26,26,Puerto Ayora,EC,2021-05-18 00:48:55,-0.7393,-90.3518,75.00,94,66,5.01
27,27,Ahuimanu,US,2021-05-18 00:54:06,21.4447,-157.8378,84.20,61,40,16.11
29,29,Epe,NG,2021-05-18 00:54:07,6.5841,3.9834,78.12,92,95,5.44

In [13]:
preferred_cities_df.count()

City_ID       172
City          172
Country       172
Date          172
Lat           172
Lng           172
Max Temp      172
Humidity      172
Cloudiness    172
Wind Speed    172
dtype: int64

In [14]:
#Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
5        Palauig      PH     88.83  15.4350  119.9045
8         Nicoya      CR     82.40  10.1483  -85.4520
12    Hambantota      LK     75.20   6.1241   81.1185
14         Kapaa      US     80.60  22.0752 -159.3190
15         Vaini      TO     82.40 -21.2000 -175.2000
17          Hilo      US     84.20  19.7297 -155.0900
25          Nago      JP     86.00  26.5881  127.9761
26  Puerto Ayora      EC     75.00  -0.7393  -90.3518
27      Ahuimanu      US     84.20  21.4447 -157.8378
29           Epe      NG     78.12   6.5841    3.9834

In [17]:
#Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

#Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    #Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    #Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    #Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    #Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    #Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Palauig,PH,88.83,15.4350,119.9045,Myhousebythesea
8,Nicoya,CR,82.40,10.1483,-85.4520,Guayacan Real
12,Hambantota,LK,75.20,6.1241,81.1185,Bungalow 63
14,Kapaa,US,80.60,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
15,Vaini,TO,82.40,-21.2000,-175.2000,Keleti Beach Resort
17,Hilo,US,84.20,19.7297,-155.0900,Hilo Hawaiian Hotel
25,Nago,JP,86.00,26.5881,127.9761,Hotel Yugaf Inn Okinawa
26,Puerto Ayora,EC,75.00,-0.7393,-90.3518,Finch Bay Galapagos Hotel
27,Ahuimanu,US,84.20,21.4447,-157.8378,Paradise Bay Resort
29,Epe,NG,78.12,6.5841,3.9834,MAGVILLE HOTEL

In [19]:
#Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
#Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
#Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
#Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))